.NoteListComponent {
  display: flex;
  flex-direction: column;
  background-color: #2A2322;
  margin: 1%;
  flex-grow: 1;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  padding-right: 0.3em;
}